<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
	<footer>
		<div id="footer">
			<div id="info">
				<ul>
					<li><span>입금계좌안내: </span><b>신한은행 123-456-777777</b></li>
					<li>|</li>
					<li><b>국민은행 987654-01-234567</b></li>
					<li>|</li>
					<li><b>농협 456-01-123456</b></li>
					<li>예금주: <b>(주)티제이모토</b></li>
				</ul>
			</div>
			<div id="info2">
				<div><img src="../../img/call_info.png"></div>
				<div id="call_num"><span>02)</span> 123-456</div>
				<div id="footer_menu">
					<ul>
						<li><a href="#">공지사항</a></li>
						<li>|</li>
						<li><a href="#">질문과답변</a></li>
						<li>|</li>
						<li><a href="#">상품사용후기</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div id="info3">
				<ul>
					<li><a href="#">홈</a></li>
					<li>|</li>
					<li><a href="#">회사소개</a></li>
					<li>|</li>
					<li><a href="#">이용약관</a></li>
					<li>|</li>
					<li><a href="#">개인정보처리방침</a></li>
					<li>|</li>
					<li><a href="#">이용안내</a></li>
				</ul>
			</div>
			<div id="info4">
				<div id="footer_logo">
					<img src="../../img/footer_logo.png">
				</div>
				<div id="compeny_info">
					<ul>
						<li>법인명(상호) : (주) 티제이모토</li>
						<li>대표자(성명) : 김태진</li>
						<li>주소 : 서울특별시 종로구 인사동 43 대일빌딩 15층 ( 인사동길 12 )</li>
						<li>사업자 등록번호 안내 : [123-45-67890]</li>
						<li>통신판맹버 신고 : 2023-서울종로-0627</li>
						<li><a href="#">[사업자정보확인]</a></li>
						<li>전화 : 02-1234-5678</li>
						<li>팩스 : 02-1234-5678</li>
						<li>개인정보보호책임자 : 김태진(help@tjmoto.co.kr)</li>
					</ul>
				</div>
				<div id="footer_benner">
					<img src="../../img/footer_benner.png">
				</div>
				<div class="clear"></div>
			</div>
			<div id="info5">
				Copylight @ 2023 티제이모토 All rights reserved. <br>
				Contac <span>help@tjmoto.co.kr</span> for more information
			</div>
			<div id="footer_map">
				<a href="https://map.naver.com/v5/entry/place/13322326?lng=126.9872293&lat=37.5719027&placePath=%2Fhome%3Fentry=plt&c=15,0,0,0,dh"
					target="_blank">
					<img src="../../img/footer_map.png"></a>
			</div>
		</div>
	</footer>
</div>

</html>